/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #f0c52e;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */


/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.commentBox{
	padding:1%;
	width:96%;
	border:1px solid #000;
	background-color: #f0f0f0;
	margin-bottom: 10px;
}	

.leftPanelImg
{
	width:10%;
	float:left;
	
}
.leftPanelImg img
{
	border-radius: 100%;
	border-width:thick;
	
}
.rightPanel
{
	width:60%;
    float:left;
	margin-left:1%;
	
}

.clear{
	clear:both;
	
}
.form{
	padding:10px;
	margin-bottom:10px;
	text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}


.commentBox{
	padding:1%;
	width:100%;
	border:1px solid #000;
	background-color: #f0f0f0;
	margin-bottom: 10px;
}	

.leftPanelImg
{
	width:10%;
	float:left;
	
}
.leftPanelImg img
{
	border-radius: 100%;
	border-width:thick;
	
}
.rightPanel
{
	width:85%;
    float:left;
	margin-left:1%;
}
.clear{
	clear:both;
	
}
.form{
	padding:10px;
	border:1px solid #000;
	margin-bottom:10px;
	text-align: center;
}

.form input[type="text"], .form textarea, .form input[type="date"]{
	border:1px solid #000;
	padding:2px;
}

.button5:hover {
  background-color: #ffd800;
  color: white;
}

* {
  box-sizing: border-box;
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}


.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}
